<section class="body">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      @if (JobOffer$ | async; as jobOffer) {
        <h1 class="page-title">{{ translations.Get('Reports_Report_Title') }}: {{ jobOffer.JOTitle }}</h1>
      }
    </div>
  </div>

  @if (Report$ | async; as report) {
    <div class="row margin-bottom-15">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p-card [header]="translations.Get('Reports_Report_Card_Title')">
          <div class="row margin-top-15">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="card-subtitle">{{ translations.Get('Reports_Report_Card_Reasons') }}:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ DisplayReasons(report.RReasons) }}
            </div>
          </div>
          <div class="row margin-top-15">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="card-subtitle">{{ translations.Get('Reports_Report_Card_Text') }}:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ report.RText }}
            </div>
          </div>
          <div class="row margin-top-15">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="card-subtitle">{{ translations.Get('Reports_Report_Card_Current_Status') }}:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-message [severity]="DisplaySeverity(report.RStatus)">{{ DisplayStatus(report.RStatus) }}</p-message>
            </div>
          </div>
          <div class="row margin-top-15" [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="card-subtitle">{{ translations.Get('Reports_Report_Card_New_Status') }}:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-select
                [options]="reportsStatusType"
                [showClear]="true"
                [filter]="true"
                filterBy="name"
                optionLabel="name"
                optionValue="id"
                formControlName="ReportStatus"
                [placeholder]="translations.Get('Reports_Report_Card_New_Status')"
              />
            </div>
          </div>
          <div class="row margin-top-15">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-button
                [label]="translations.Get('General_Cancel')"
                (click)="Cancel()"
                severity="secondary"
                class="margin-right-15"
              ></p-button>
              <p-button
                [label]="translations.Get('General_Save')"
                (click)="ChangeReportStatus(report.RGID, form.controls.ReportStatus.value)"
                [class.disabled]="form.invalid"
              ></p-button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  }
  @if (JobOffer$ | async; as jobOffer) {
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Title') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOTitle }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_LocationType') }}:</span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayLocationType(jobOffer.JOLocationType) }}
          </div>
        </div>

        @if (Company$ | async; as company) {
          @if (company.CGID) {
            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_Name') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CName }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_Email') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CEmail }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_Address') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CAddress }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_City') }}: </span>
              </div>
              <div class="col-lg-19 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CCity }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_Country') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CCountry }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_PostalCode') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CPostalCode }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_PhoneNumber') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CPhoneNumber }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_NIP') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CNIP }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_Regon') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CRegon }}
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_KRS') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CKRS }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CLI }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_FoundedYear') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ company.CFoundedYear }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('Companies_Company_EmployeesNo') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ DisplayCompanySize(company.CEmployeesNo) }}
              </div>
            </div>
          } @else {
            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_CompanyName') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ jobOffer.JOCompanyName }}
              </div>
            </div>

            <div class="row d-flex">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
                <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_OfficeLocation') }}: </span>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
                {{ jobOffer.JOOfficeLocation }}
              </div>
            </div>
          }
        }

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_EmploymentType') }} </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayEmploymentType(jobOffer.JOEmploymentType) }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpirenceLevel') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayExpirenceType(jobOffer.JOExpirenceLevel) }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpirenceYears') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOExpirenceYears }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Category') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayCategoryType(jobOffer.JOCategory) }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryMin') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOSalaryMin }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryMax') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOSalaryMax }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Currency') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayCurrencyType(jobOffer.JOSalaryMin) }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryType') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplaySalaryType(jobOffer.JOSalaryType) }}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Description') }}:</span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JODescription }}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Requirements') }}: </span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JORequirements }}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Benefits') }}:</span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOBenefits }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Education') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ DisplayEducationType(jobOffer.JOEducation) }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_PostedAt') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOPostedAt | date: 'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
            <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpiresAt') }}: </span>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
            {{ jobOffer.JOExpiresAt | date: 'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </div>
      </div>
    </div>
  }
</section>
