@if (Reports$ | async; as reports) {
  <section class="body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">{{ translations.Get('TopMenu_Tasks') }}</h1>
      </div>
    </div>

    <div class="row padding-top-15 filter-row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">{{ translations.Get('Tasks_Categories') }}:</div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" [formGroup]="formFilter">
        <p-select
          [options]="reportsType"
          [showClear]="false"
          [filter]="true"
          filterBy="name"
          optionLabel="name"
          optionValue="id"
          placeholder="Wybierz status oferty"
          aria-describedby="offer-status"
          formControlName="education"
          (onChange)="ChangeReportTypeFilterValue($event)"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
    </div>

    <div class="row margin-top-15 filter-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
      </div>
    </div>

    @if (reports.length == 0) {
      <div class="row no-data-row">
        <p>{{ translations.Get('Task_NotFound') }}</p>
      </div>
    } @else {
      <div class="row padding-top-15 padding-bottom-15">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          {{ translations.Get('Tasks_Name') }}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          {{ translations.Get('Tasks_Date') }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          {{ translations.Get('Tasks_Localization') }}
        </div>
      </div>
      @for (report of reports; track $index) {
        <div class="row data-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <p>{{ report.RDate | date: 'yyyy-MM-dd HH:mm' }}</p>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <p>{{ report.RText }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <p-message [severity]="DisplaySeverity(report.RStatus)">{{ DisplayStatus(report.RStatus) }}</p-message>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p-button label="Zweryfikuj zgłoszenie" (click)="CheckReport(report.RGID)"></p-button>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </section>
}
