@if (Reports$ | async; as reports) {
  <section class="body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">{{ translations.Get('TopMenu_Reports') }}</h1>
      </div>
    </div>

    <div class="row padding-top-15 filter-row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" [pTooltip]="translations.Get('Reports_ReportStatus_Tooltip')">
        {{ translations.Get('Reports_ReportStatus') }}:
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" [formGroup]="formFilter">
        <p-select
          [options]="reportsType"
          [showClear]="false"
          [filter]="true"
          filterBy="name"
          optionLabel="name"
          optionValue="id"
          [placeholder]="translations.Get('Reports_ChooseStatus')"
          aria-describedby="offer-status"
          formControlName="ReportType"
          (onChange)="ChangeReportTypeFilterValue($event)"
        />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" [pTooltip]="translations.Get('Reports_Search_Tooltip')">
        {{ translations.Get('Reports_Search') }}:
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <input
          pInputText
          [placeholder]="translations.Get('Reports_Search')"
          maxlength="255"
          (keyup)="ChangeMessageFilterValue($event)"
        />
      </div>
    </div>

    <div class="row margin-top-15 filter-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
      </div>
    </div>

    @if (reports.length == 0) {
      <div class="row no-data-row">
        <p>{{ translations.Get('Reports_NotFound') }}</p>
      </div>
    } @else {
      <div class="row padding-top-15 padding-bottom-15">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          {{ translations.Get('Reports_ReportDate') }}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          {{ translations.Get('Reports_ReportText') }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          {{ translations.Get('Reports_ReportStatus') }}
        </div>
      </div>
      @for (report of reports; track $index) {
        <div class="row data-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <p>{{ report.RDate | date: 'yyyy-MM-dd HH:mm' }}</p>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <p>{{ report.RText }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <p-message [severity]="DisplaySeverity(report.RStatus)">{{ DisplayStatus(report.RStatus) }}</p-message>
              </div>
            </div>
            <div class="row margin-top-15 margin-bottom-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p-button
                  severity="secondary"
                  [label]="translations.Get('Reports_ReportVerify')"
                  (click)="CheckReport(report.RGID)"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </section>
}
