<section class="body">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-title center">{{ translations.Get('Account_Login') }}</h1>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="row margin-bottom-15">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-form">
        <div class="form-group">
          <span>
            {{ translations.Get('Account_Register_UserName') }}
          </span>
          <input class="form-field" type="text" formControlName="UUserName" />
        </div>
      </div>
    </div>
    @if (form.controls.UUserName.errors?.['required']) {
      <div class="row error margin-bottom-15">
        {{ translations.Get('Account_Register_Validation_Required') }}
      </div>
    }

    <div class="row margin-bottom-15">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-form">
        <div class="form-group">
          <span>
            {{ translations.Get('Account_Register_Password') }}
          </span>
          <input class="form-field" type="password" formControlName="UPassword" />
        </div>
      </div>
    </div>
    @if (form.controls.UPassword.errors?.['required']) {
      <div class="error row margin-bottom-15">
        {{ translations.Get('Account_Register_Validation_Required') }}
      </div>
    }
  </form>

  <div class="row margin-top-35">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p-button
        [label]="translations.Get('Account_Register_Reset')"
        (click)="Clear()"
        severity="secondary"
        class="margin-right-15"
      ></p-button>
      <p-button
        [label]="translations.Get('Account_Login_Button')"
        (click)="Login()"
        [class.disabled]="form.invalid"
      ></p-button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15">
      <p-button [label]="translations.Get('Account_Login_Dont_Have_Account')" (click)="GoToRegistration()"></p-button>
    </div>
  </div>
</section>
