@if (Users$ | async; as users) {
  <section class="body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-title">{{ translations.Get('TopMenu_Users') }}</h1>
      </div>
    </div>

    <div class="row padding-top-15 filter-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row margin-bottom-15">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">{{ translations.Get('Users_Search_Role') }}:</div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" [formGroup]="formFilter">
            <p-select
              [options]="roles"
              [showClear]="false"
              [filter]="true"
              filterBy="name"
              optionLabel="name"
              optionValue="id"
              [placeholder]="translations.Get('Users_Search_Role')"
              aria-describedby="offer-status"
              formControlName="role"
              (onChange)="ChangeUserRoleFilterValue($event.value)"
            />
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            {{ translations.Get('Users_Search_Company') }}
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <p-checkbox [binary]="true" (onChange)="ChangeHasCompanyFilterValue($event.checked)"> </p-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row padding-top-15 filter-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row margin-bottom-15">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" [pTooltip]="translations.Get('Users_Search_Tooltip')">
            {{ translations.Get('Users_Search_User') }}:
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <input
              pInputText
              [placeholder]="translations.Get('Users_Search_User')"
              maxlength="255"
              (keyup)="ChangeNameFilterValue($event)"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
      </div>
    </div>

    <div class="row margin-top-15 filter-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
      </div>
    </div>

    @if (users.length != 0) {
      <div class="row padding-top-15 padding-bottom-15">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              {{ translations.Get('Users_Role') }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              {{ translations.Get('Users_FirstName') }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              {{ translations.Get('Users_LastName') }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              {{ translations.Get('Users_UserName') }}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              {{ translations.Get('Users_Email') }}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              {{ translations.Get('Users_Phone') }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              {{ translations.Get('Users_Company') }}
            </div>
          </div>
        </div>
      </div>

      @for (user of users; track user.UGID) {
        <div class="row data-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{ DisplayRoles(user.URID) }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{ user.UFirstName }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{ user.ULastName }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{ user.UUserName }}</p>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{ user.UEmail }}</p>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{ user.UPhone }}</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{ user.UCompany }}</p>
              </div>
            </div>
            <div class="row margin-top-15 margin-bottom-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p-button
                  severity="secondary"
                  [label]="translations.Get('General_Edit')"
                  (click)="GoToUser(user.UGID)"
                  class="margin-right-15"
                ></p-button>
                <p-button
                  severity="secondary"
                  [label]="translations.Get('General_Delete')"
                  (click)="DeleteUser(user.UGID)"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      }
    } @else {
      <div class="row no-data-row">
        <p>{{ translations.Get('Users_NotFound') }}</p>
      </div>
    }
  </section>
}
