.categories-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.row-text {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;
}
.row-inputs {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-textarea {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.action-btn {
  background: transparent;
  border: none;
  font-size: 40px;
}

.error-handler-actions {
  margin-left: 10px;
}

.report-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

::ng-deep p-selectbutton {
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .row-text {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .row-text {
    text-align: left;
  }

  .add-task-note-btn {
    margin: 0 0 15px 0;
  }
}

// .job-card {
//   border-radius: 12px;
//   padding: 1rem;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

//   .job-card-header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     .company-logo {
//       width: 50px;
//       height: 50px;
//       object-fit: contain;
//       margin-right: 1rem;
//     }

//     .job-info {
//       flex: 1;
//       .position {
//         margin: 0;
//         font-size: 1.1rem;
//         font-weight: 600;
//       }
//       .company-name {
//         font-size: 0.9rem;
//         color: #666;
//       }
//     }

//     .rate {
//       font-size: 1rem;
//       font-weight: bold;
//       color: #00a65a;

//       .amount {
//         font-size: 1.2rem;
//       }
//     }
//   }

//   .job-card-body {
//     margin-top: 0.75rem;

//     .details {
//       font-size: 0.85rem;
//       color: #666;
//       display: flex;
//       gap: 1rem;
//       align-items: center;

//       i {
//         margin-right: 0.25rem;
//         color: #999;
//       }
//     }

//     .tags {
//       margin-top: 0.5rem;
//       display: flex;
//       gap: 0.5rem;

//       ::ng-deep .p-tag {
//         background: #f1f1f1;
//         color: #333;
//         font-size: 0.75rem;
//         border-radius: 6px;
//       }
//     }
//   }

//   .job-card-footer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 1rem;
//     font-size: 0.85rem;
//     color: #999;

//     .bookmark-icon {
//       font-size: 1.2rem;
//       cursor: pointer;
//       color: #555;
//     }
//   }
// }

::ng-deep .p-card {
  margin: 15px 0;

  .p-card-header {
    .header-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin: 15px;
      font-size: 1.5rem;
    }
  }

  .p-card-body {
    padding: 0 var(--p-card-body-padding) var(--p-card-body-padding) var(--p-card-body-padding);

    .subtitle-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;
      font-size: 1.25rem;
    }

    .bold-text {
      font-weight: bold;
    }

    .footer-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }
}
