<section class="body">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
      @if (JobOffer$ | async; as jobOffer) {
        @if (isNewJobOfferView) {
          <h1 class="page-title">{{ translations.Get('JobOffers_JobOffer_New_JobOffer') }}</h1>
        } @else {
          <h1 class="page-title">{{ translations.Get('JobOffers_JobOffer') }}: {{ jobOffer.JOTitle }}</h1>
        }
      }
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      <p-button
        [label]="translations.Get('General_Cancel')"
        (click)="Cancel()"
        severity="secondary"
        class="margin-right-15"
      ></p-button>
      <p-button
        [label]="translations.Get('General_Save')"
        (click)="SaveJobOffer()"
        [disabled]="form.invalid"
      ></p-button>
    </div>
  </div>

  <div class="row" [formGroup]="form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Title') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="jotitle"
            aria-describedby="job-title"
            formControlName="JOTitle"
            [placeholder]="translations.Get('JobOffers_JobOffer_Title')"
            required
            maxlength="255"
          />
          @if (form.controls.JOTitle.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Title_Required') }}
            </div>
          }
          @if (form.controls.JOTitle.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Title_Max255') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_CompanyName') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="jocompanyname"
            aria-describedby="company-name"
            formControlName="JOCompanyName"
            [placeholder]="translations.Get('JobOffers_JobOffer_CompanyName')"
            required
            maxlength="255"
          />
          @if (form.controls.JOCompanyName.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_CompanyName_Required') }}
            </div>
          }
          @if (form.controls.JOCompanyName.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_CompanyName_Max255') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_LocationType') }}:</span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="locationTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jolocationtype"
            [placeholder]="translations.Get('JobOffers_JobOffer_LocationType')"
            aria-describedby="location-types"
            formControlName="JOLocationType"
          />
          @if (form.controls.JOLocationType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_LocationType_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_OfficeLocation') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="joofficelocation"
            aria-describedby="office-location"
            formControlName="JOOfficeLocation"
            [placeholder]="translations.Get('JobOffers_JobOffer_OfficeLocation')"
            required
            maxlength="100"
          />
          @if (form.controls.JOOfficeLocation.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_OfficeLocation_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_EmploymentType') }} </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="employmentTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joemploymenttype"
            [placeholder]="translations.Get('JobOffers_JobOffer_EmploymentType')"
            aria-describedby="employment-types"
            formControlName="JOEmploymentType"
          />
          @if (form.controls.JOEmploymentType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_EmploymentType_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpirenceLevel') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="expirenceTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joexpirencelevel"
            [placeholder]="translations.Get('JobOffers_JobOffer_ExpirenceLevel')"
            aria-describedby="expirence-types"
            formControlName="JOExpirenceLevel"
          />
          @if (form.controls.JOExpirenceLevel.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_ExpirenceLevel_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpirenceYears') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="joexpirenceyears"
            aria-describedby="expirence-years"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="1"
            [placeholder]="translations.Get('JobOffers_JobOffer_ExpirenceYears')"
            formControlName="JOExpirenceYears"
          />
          @if (form.controls.JOExpirenceYears.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_ExpirenceYears_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Category') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="categoryTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jocategory"
            [placeholder]="translations.Get('JobOffers_JobOffer_Category')"
            aria-describedby="offer-category"
            formControlName="JOCategory"
          />
          @if (form.controls.JOCategory.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Category_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryMin') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="josalarymin"
            aria-describedby="salary-min"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="4"
            [placeholder]="translations.Get('JobOffers_JobOffer_SalaryMin')"
            formControlName="JOSalaryMin"
          />
          @if (form.controls.JOSalaryMin.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_SalaryMin_Required') }}
            </div>
          }
          @if (form.controls.JOSalaryMin.errors?.['min']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_SalaryMin_Min0') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryMax') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="josalarymax"
            aria-describedby="salary-miax"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="4"
            [placeholder]="translations.Get('JobOffers_JobOffer_SalaryMax')"
            formControlName="JOSalaryMax"
          />
          @if (form.controls.JOSalaryMax.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_SalaryMax_Required') }}
            </div>
          }
          @if (form.controls.JOSalaryMax.errors?.['min']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_SalaryMax_Min0') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Currency') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="currencyTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jocurrency"
            [placeholder]="translations.Get('JobOffers_JobOffer_Currency')"
            aria-describedby="currency-type"
            formControlName="JOCurrency"
          />
          @if (form.controls.JOCurrency.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Currency_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_SalaryType') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="salaryTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="josalarytype"
            [placeholder]="translations.Get('JobOffers_JobOffer_SalaryType')"
            aria-describedby="salary-type"
            formControlName="JOSalaryType"
          />
          @if (form.controls.JOSalaryType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_SalaryType_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Description') }}:</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JODescription"
            maxlength="2000"
            [placeholder]="translations.Get('JobOffers_JobOffer_Description')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jodescription"
            aria-describedby="description"
          ></textarea>
        </div>
        @if (form.controls.JODescription.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Description_Required') }}
          </div>
        }
        @if (form.controls.JODescription.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Description_Max2000') }}
          </div>
        }
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('JobOffers_JobOffer_Requirements') }}: Wymagania oferty</span
          >
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JORequirements"
            maxlength="2000"
            [placeholder]="translations.Get('JobOffers_JobOffer_Requirements')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jorequirements"
            aria-describedby="requirements"
          ></textarea>
        </div>
        @if (form.controls.JORequirements.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Requirements_Required') }}
          </div>
        }
        @if (form.controls.JORequirements.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Requirements_Max2000') }}
          </div>
        }
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Benefits') }}:</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JOBenefits"
            maxlength="2000"
            [placeholder]="translations.Get('JobOffers_JobOffer_Benefits')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jobenefits"
            aria-describedby="benefits"
          ></textarea>
        </div>
        @if (form.controls.JOBenefits.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Benefits_Required') }}
          </div>
        }
        @if (form.controls.JOBenefits.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('JobOffers_JobOffer_Benefits_Max2000') }}
          </div>
        }
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Education') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="educationTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joeducation"
            [placeholder]="translations.Get('JobOffers_JobOffer_Education')"
            aria-describedby="offer-education"
            formControlName="JOEducation"
          />
          @if (form.controls.JOEducation.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Education_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_PostedAt') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            [maxDate]="form.controls['JOExpiresAt'].value"
            [showTime]="true"
            [placeholder]="translations.Get('JobOffers_JobOffer_PostedAt')"
            hourFormat="24"
            inputId="jopostedat"
            aria-describedby="posted-at"
            formControlName="JOPostedAt"
          />
          @if (form.controls.JOPostedAt.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_PostedAt_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_ExpiresAt') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            [minDate]="form.controls['JOPostedAt'].value"
            [showTime]="true"
            [placeholder]="translations.Get('JobOffers_JobOffer_ExpiresAt')"
            hourFormat="24"
            inputId="joexpiresat"
            aria-describedby="expired-at"
            formControlName="JOExpiresAt"
          />
          @if (form.controls.JOExpiresAt.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_ExpiresAt_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('JobOffers_JobOffer_Status') }}: </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="statuses"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jostatus"
            [placeholder]="translations.Get('JobOffers_JobOffer_Status')"
            aria-describedby="offer-status"
            formControlName="JOStatus"
          />
          @if (form.controls.JOStatus.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('JobOffers_JobOffer_Status_Required') }}
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
