<section class="body">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
      @if (JobOffer$ | async; as jobOffer) {
        @if (isNewJobOfferView) {
          <h1 class="page-title">{{ translations.Get('Categories_New_Category') }}</h1>
        } @else {
          <h1 class="page-title">{{ translations.Get('Categories_Category') }}: {{ jobOffer.JOTitle }}</h1>
        }
      }
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      <p-button
        [label]="translations.Get('General_Cancel')"
        (click)="Cancel()"
        severity="secondary"
        class="margin-right-15"
      ></p-button>
      <p-button
        [label]="translations.Get('General_Save')"
        (click)="SaveJobOffer()"
        [disabled]="form.invalid"
      ></p-button>
    </div>
  </div>

  <div class="row" [formGroup]="form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Tytuł oferty </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="jotitle"
            aria-describedby="job-title"
            formControlName="JOTitle"
            [placeholder]="translations.Get('Companies_Company_LinkedIn')"
            required
            maxlength="255"
          />
          @if (form.controls.JOTitle.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Required') }}
            </div>
          }
          @if (form.controls.JOTitle.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max255') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Nazwa firmy </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="jocompanyname"
            aria-describedby="company-name"
            formControlName="JOCompanyName"
            [placeholder]="translations.Get('Companies_Company_LinkedIn')"
            required
            maxlength="255"
          />
          @if (form.controls.JOCompanyName.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Required') }}
            </div>
          }
          @if (form.controls.JOCompanyName.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max255') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Tryb pracy </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="locationTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jolocationtype"
            placeholder="Wybierz tryb pracy"
            aria-describedby="location-types"
            formControlName="JOLocationType"
          />
          @if (form.controls.JOLocationType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Required') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Lokalizacja biura (opcjonalnie)
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <input
            pInputText
            id="joofficelocation"
            aria-describedby="office-location"
            formControlName="JOOfficeLocation"
            [placeholder]="translations.Get('Companies_Company_LinkedIn')"
            required
            maxlength="100"
          />
          @if (form.controls.JOOfficeLocation.errors?.['maxlength']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Typ umowy </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="employmentTypes"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joemploymenttype"
            placeholder="Wybierz typ umowy"
            aria-describedby="employment-types"
            formControlName="JOEmploymentType"
          />
          @if (form.controls.JOEmploymentType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Poziom doświadczenia
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="expirenceTypes"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joexpirencelevel"
            placeholder="Wybierz poziom doświadczenia"
            aria-describedby="expirence-types"
            formControlName="JOExpirenceLevel"
          />
          @if (form.controls.JOExpirenceLevel.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Liczba lat doświadczenia
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="joexpirenceyears"
            aria-describedby="expirence-years"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="1"
            formControlName="JOExpirenceYears"
          />
          @if (form.controls.JOExpirenceYears.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Kategoria </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="categoryTypes"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jocategory"
            placeholder="Wybierz kategorię doświadczenia"
            aria-describedby="offer-category"
            formControlName="JOCategory"
          />
          @if (form.controls.JOCategory.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Dolne widełki finansowe.
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="josalarymin"
            aria-describedby="salary-min"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="4"
            formControlName="JOSalaryMin"
          />
          @if (form.controls.JOSalaryMin.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
          @if (form.controls.JOSalaryMin.errors?.['min']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Górne widełki finansowe.
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-inputnumber
            inputId="josalarymax"
            aria-describedby="salary-miax"
            mode="decimal"
            locale="pl-PL"
            [minFractionDigits]="1"
            [maxFractionDigits]="4"
            formControlName="JOSalaryMax"
          />
          @if (form.controls.JOSalaryMax.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
          @if (form.controls.JOSalaryMax.errors?.['min']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Waluta </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="currencyTypes"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jocurrency"
            placeholder="Wybierz typ waluty użytej przy wypłacie"
            aria-describedby="currency-type"
            formControlName="JOCurrency"
          />
          @if (form.controls.JOCurrency.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_LinkedIn') }}: Typ wypłaty </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="salaryTypes"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="josalarytype"
            placeholder="Wybierz typ wypłaty"
            aria-describedby="salary-type"
            formControlName="JOSalaryType"
          />
          @if (form.controls.JOSalaryType.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_Description') }}: Opis oferty.</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JODescription"
            maxlength="2000"
            [placeholder]="translations.Get('Companies_Company_Description')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jodescription"
            aria-describedby="description"
          ></textarea>
        </div>
        @if (form.controls.JODescription.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Required') }}
          </div>
        }
        @if (form.controls.JODescription.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Max2000') }}
          </div>
        }
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_Description') }}: Wymagania oferty</span
          >
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JORequirements"
            maxlength="2000"
            [placeholder]="translations.Get('Companies_Company_Description')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jorequirements"
            aria-describedby="requirements"
          ></textarea>
        </div>
        @if (form.controls.JORequirements.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Required') }}
          </div>
        }
        @if (form.controls.JORequirements.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Max2000') }}
          </div>
        }
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Companies_Company_Description') }}: Benefity</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="JOBenefits"
            maxlength="2000"
            [placeholder]="translations.Get('Companies_Company_Description')"
            required
            pTextarea
            style="width: 100%"
            rows="6"
            id="jobenefits"
            aria-describedby="benefits"
          ></textarea>
        </div>
        @if (form.controls.JOBenefits.errors?.['required']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Required') }}
          </div>
        }
        @if (form.controls.JOBenefits.errors?.['maxlength']) {
          <div class="error-row">
            {{ translations.Get('Companies_Company_Description_Max2000') }}
          </div>
        }
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Poziom wykształcenia
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="educationTypes"
            [showClear]="false"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="joeducation"
            placeholder="Wybierz poziom wykształcenia"
            aria-describedby="offer-education"
            formControlName="JOEducation"
          />
          @if (form.controls.JOEducation.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Data publikacji oferty
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            [maxDate]="form.controls['JOExpiresAt'].value"
            [showTime]="true"
            hourFormat="24"
            inputId="jopostedat"
            aria-describedby="posted-at"
            formControlName="JOPostedAt"
          />
          @if (form.controls.JOPostedAt.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Data wygaśnięcia oferty
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            [minDate]="form.controls['JOPostedAt'].value"
            [showTime]="true"
            hourFormat="24"
            inputId="joexpiresat"
            aria-describedby="expired-at"
            formControlName="JOExpiresAt"
          />
          @if (form.controls.JOExpiresAt.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>

      <div class="row d-flex">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text">
            {{ translations.Get('Companies_Company_LinkedIn') }}: Wybierz status oferty
          </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-inputs">
          <p-select
            [options]="statuses"
            [showClear]="true"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            inputId="jostatus"
            placeholder="Wybierz status oferty"
            aria-describedby="offer-status"
            formControlName="JOStatus"
          />
          @if (form.controls.JOStatus.errors?.['required']) {
            <div class="error-row">
              {{ translations.Get('Companies_Company_LinkedIn_Max100') }}
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
