<section class="body">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
      @if (isNewBugView) {
        <h1 class="page-title">{{ translations.Get('TopMenu_Bugs') }}</h1>
      } @else {
        @if (Bug$ | async; as bug) {
          <h1 class="page-title">{{ translations.Get('Bugs_Bug') }}: {{ bug.BTitle }}</h1>
        }
      }
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      @if (isNewBugView) {
        <button mat-raised-button class="primary-btn float-right" (click)="SaveBug()" [disabled]="form.invalid">
          {{ translations.Get('General_Save') }}
        </button>
      }
      <button mat-raised-button class="float-right margin-right-15" (click)="Cancel()">
        {{ translations.Get('General_Cancel') }}
      </button>
    </div>
  </div>

  <div class="row" [formGroup]="form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      @if (!isNewBugView) {
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
            <span class="data-input-text"> {{ translations.Get('Bugs_Status') }}: </span>
          </div>
          @if (UserRoles$ | async; as userRoles) {
            @if (userRoles.IsSupport || userRoles.IsAdmin) {
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                <mat-form-field class="margin-left-30">
                  <mat-select [value]="selectedBugStatus" (selectionChange)="ChangeBugStatus($event)">
                    <mat-option *ngFor="let status of bugStatusAdmin" [value]="status['id']">
                      {{ status['name'] }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            }
            @if (!userRoles.IsSupport && !userRoles.IsAdmin) {
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                <mat-form-field class="margin-left-30">
                  <mat-select [value]="selectedBugStatus" (selectionChange)="ChangeBugStatus($event)">
                    <mat-option *ngFor="let status of bugStatusUser" [value]="status['id']">
                      {{ status['name'] }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            }
          }
        </div>
      }

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Bugs_Title') }}: </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="BTitle"
            maxlength="200"
            [placeholder]="translations.Get('Bugs_Title')"
            class="bugs-textarea"
            required
          ></textarea>
        </div>
        @if (form.controls.BTitle.errors?.['required']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_AddTitle_Required') }}
          </div>
        }
        @if (form.controls.BTitle.errors?.['maxlength']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_AddTitle_Max200') }}
          </div>
        }
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
          <span class="data-input-text"> {{ translations.Get('Bugs_Text') }}: </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
          <textarea
            formControlName="BText"
            maxlength="4000"
            [placeholder]="translations.Get('Bugs_Text')"
            class="bugs-textarea"
            required
          ></textarea>
        </div>
        @if (form.controls.BText.errors?.['required']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_Text_Required') }}
          </div>
        }
        @if (form.controls.BText.errors?.['maxlength']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_Text_Max4000') }}
          </div>
        }
      </div>
    </div>
  </div>

  @if (!isNewBugView) {
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-subtitle">{{ translations.Get('Bugs_BugHistory') }}:</h1>
      </div>
    </div>

    @if (BugNotes$ | async; as bugNotes) {
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
          <h1 class="page-subtitle">{{ translations.Get('Bugs_Bug_AddNoteTitle') }}:</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <button
            mat-raised-button
            class="primary-btn float-right add-task-note-btn"
            (click)="AddBugNote()"
            [disabled]="formBugNote.invalid"
          >
            {{ translations.Get('Bugs_Bug_AddNote') }}
          </button>
        </div>
      </div>

      <div class="row" [formGroup]="formBugNote">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <textarea formControlName="BugNote" class="bugs-textarea" maxlength="4000" required></textarea>
        </div>
        @if (formBugNote.controls.BugNote.errors?.['required']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_BugNotes_AddNote_Required') }}
          </div>
        }
        @if (formBugNote.controls.BugNote.errors?.['maxlength']) {
          <div class="error row margin-bottom-15">
            {{ translations.Get('Bugs_BugNotes_AddNote_Max4000') }}
          </div>
        }
      </div>

      <div class="row margin-top-15 filter-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
        </div>
      </div>

      @if (bugNotes.length != 0) {
        <div class="row padding-top-15 padding-bottom-15">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            {{ translations.Get('Bugs_Bug_Data') }}
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {{ translations.Get('Bugs_Bug_Text') }}
          </div>
        </div>

        @for (bugNote of bugNotes; track bugNote) {
          <div class="row data-row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <p>{{ bugNote.BNDate | date: 'yyyy-MM-dd HH:mm' }}</p>
            </div>
            <div
              class="col-lg-10 col-md-10 col-sm-10 col-xs-10"
              [ngClass]="ChangeColor(bugNote.BNIsStatusChange, bugNote.BNChangedStatus)"
            >
              <p>{{ bugNote.BNText }}</p>
            </div>
          </div>
        }
      }

      @if (bugNotes.length == 0) {
        <div class="row no-data-row">
          <p>{{ translations.Get('Bugs_NotFound') }}</p>
        </div>
      }
    }
  }
</section>
