@if (!hideMenu) {
  <div class="navigation">
    <div class="left-panel"></div>
    <nav>
      <a href="job-offers">{{ 'TopMenu_JobOffers' | translate }}</a>
      @if (IsUser) {
        <a href="bugs">{{ 'TopMenu_Bugs' | translate }}</a>
        <a href="stats">{{ 'TopMenu_Stats' | translate }}</a>
      }
      @if (IsRecruiter) {
        <a href="reports">{{ 'TopMenu_Reports' | translate }}</a>
        <a href="companies">{{ 'TopMenu_Companies' | translate }}</a>
      }
      @if (IsAdmin) {
        <a href="users">{{ 'TopMenu_Users' | translate }}</a>
      }
    </nav>
    <div class="mobile-navigation">
      <div class="mobile-navigation-button">
        <span class="bi bi-list" (click)="ToggleMobileMenu()"></span>
      </div>
      <div class="mobile-menu" [ngClass]="IsMobileMenuActive ? 'mobile-menu-active' : 'mobile-menu-inactive'">
        <div class="mobile-menu-container">
          <a href="job-offers">{{ 'TopMenu_JobOffers' | translate }}</a>
          @if (IsUser) {
            <a href="bugs">{{ 'TopMenu_Bugs' | translate }}</a>
            <a href="stats">{{ 'TopMenu_Stats' | translate }}</a>
          }
          @if (IsRecruiter) {
            <a href="reports">{{ 'TopMenu_Reports' | translate }}</a>
            <a href="companies">{{ 'TopMenu_Companies' | translate }}</a>
          }
          @if (IsAdmin) {
            <a href="users">{{ 'TopMenu_Users' | translate }}</a>
          }
        </div>
      </div>
    </div>
    <div class="side-menu">
      <div
        class="user"
        [pTooltip]="
          (cookieService.get('token') == '' ? 'TopMenu_User_Login_Tooltip' : 'TopMenu_User_User_Tooltip') | translate
        "
        tooltipPosition="bottom"
        (click)="GoToUser()"
      ></div>
      @if (language == 'en') {
        <div
          class="pl"
          [pTooltip]="'TopMenu_PL_Tooltip' | translate"
          tooltipPosition="bottom"
          (click)="ChangeLanguage('pl')"
        ></div>
      } @else if (language == 'pl') {
        <div
          class="en"
          [pTooltip]="'TopMenu_ENG_Tooltip' | translate"
          tooltipPosition="bottom"
          (click)="ChangeLanguage('en')"
        ></div>
      }
      @if (IsUser) {
        <div
          class="logout"
          [pTooltip]="'TopMenu_Logout_Tooltip' | translate"
          tooltipPosition="bottom"
          (click)="LogOut()"
        ></div>
      }
    </div>
  </div>
}
<div [ngClass]="mainClass">
  <p-toast></p-toast>
  <router-outlet></router-outlet>
</div>
