@if (Bugs$ | async; as bugs) {
  @if (UserRoles$ | async; as userRoles) {
    <section class="body">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
          <h1 class="page-title">{{ translations.Get('TopMenu_Bugs') }}</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          <p-button [label]="translations.Get('General_Add')" (click)="AddBug()" class="margin-right-15"></p-button>
        </div>
      </div>

      @if (userRoles.IsSupport || userRoles.IsAdmin) {
        <div class="row margin-top-15 margin-bottom-15 filter-row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">{{ translations.Get('Bugs_Filters') }}:</div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" [formGroup]="formFilter">
            <p-select
              [options]="bugsTypes"
              [showClear]="false"
              [filter]="true"
              filterBy="name"
              optionLabel="name"
              optionValue="value"
              inputId="bugsType"
              placeholder="Wybierz typ błędu"
              aria-describedby="bugs-type"
              formControlName="filter"
              (onChange)="ChangeBugsType($event.value)"
            />
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" [pTooltip]="translations.Get('Bugs_Search_Tooltip')">
            {{ translations.Get('Bugs_Search') }}:
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <input
              pInputText
              [placeholder]="translations.Get('Bugs_Search')"
              maxlength="255"
              (keyup)="ChangeMessageFilterValue($event)"
            />
          </div>
        </div>
      }

      <div class="row margin-top-15 filter-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
        </div>
      </div>

      @if (bugs.length != 0) {
        <div class="row padding-top-15 padding-bottom-15">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{ translations.Get('Bugs_Title') }}
              </div>
              <div
                [ngClass]="
                  userRoles.IsSupport || userRoles.IsAdmin
                    ? 'col-lg-3 col-md-3 col-sm-3 col-xs-3'
                    : 'col-lg-5 col-md-5 col-sm-5 col-xs-5'
                "
              >
                {{ translations.Get('Bugs_Text') }}
              </div>
              <div
                [ngClass]="
                  userRoles.IsSupport || userRoles.IsAdmin ? 'col-lg-2 col-md-2 col-sm-2 col-xs-2' : 'display-none'
                "
              >
                {{ translations.Get('Bugs_Support') }}
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{ translations.Get('Bugs_Date') }}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{ translations.Get('Bugs_Status') }}
              </div>
            </div>
          </div>
        </div>
        @for (bug of bugs; track bug.BGID) {
          <div class="row data-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <p>{{ bug.BTitle }}</p>
                </div>
                <div
                  [ngClass]="
                    userRoles.IsSupport || userRoles.IsAdmin
                      ? 'col-lg-3 col-md-3 col-sm-3 col-xs-3'
                      : 'col-lg-5 col-md-5 col-sm-5 col-xs-5'
                  "
                >
                  <p>{{ bug.BText }}</p>
                </div>
                <div
                  [ngClass]="
                    userRoles.IsSupport || userRoles.IsAdmin ? 'col-lg-2 col-md-2 col-sm-2 col-xs-2' : 'display-none'
                  "
                >
                  <p>{{ bug.BVerifiers }}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <p>{{ bug.BDate | date: 'yyyy-MM-dd HH:mm' }}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <p-message [severity]="DisplaySeverity(bug.BStatus)">{{ DisplayStatus(bug.BStatus) }}</p-message>
                </div>
              </div>
              <div class="row margin-top-15 margin-bottom-15">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p-button
                    severity="secondary"
                    [label]="translations.Get('General_Edit')"
                    (click)="ModifyBug(bug.BGID)"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        }
      }
      @if (bugs.length == 0) {
        <div class="row no-data-row">
          <p>{{ translations.Get('Bugs_NotFound_User') }}</p>
        </div>
      }
    </section>
  }
}
